<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
<div *ngIf="folder=='Happiness Generator'">

  <div id="container">
    <!-- <strong class="capitalize">{{folder}}</strong> -->
    <img src={{catUrl}} alt="Girl in a jacket" width="600" height="300">  
    <h1></h1>
    <h1></h1>
    <p>
      <ion-button color="danger" (click) = "pressButton()">
        More Cats
      </ion-button>
    </p>
  </div>
</div>
<app-event-stream-component></app-event-stream-component>
</ion-content>
